body {
  background-color: #29A15D;
  -webkit-font-smoothing: antialiased;
}

ol, ul {
  list-style: none;
}

.logo {
    padding-top: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 1.5em;
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 360px;
    background-color: white;
    border-radius: 1.25em;
    height: 100%;
    font-size: 1.5em;
    margin-top: 1em;
    text-align: center;
}

#add-items {
    background-color: #84ECB1;
    border: none;
    border-radius: 15px;
    color: white;
    display: inline-block;
    font-size: 12pt;
    height: 30px;
    line-height: 24pt;
    margin: 15px auto;
    padding: 0 15px;
    text-align: center;
    width: 50%;
}

input {
    -webkit-text-fill-color: white;
}

.list {
    font-family: 'Reenie Beanie', cursive;
    font-size: 35px;
    text-align: center;
    cursor: pointer;
}

.list img {
    padding-right: 15px
}

.resolved {
    text-decoration:line-through;
    color:#9CA9AD;
}

.checked {
    float: left;
    margin-top: 3px;
}

.delete {
    float: right;
    margin-top: 3px;
}

h2 {
    font-family: 'Oxygen', sans-serif;
    color:#29A15D;
    font-size: 12px;
}

button {
    background-color: #84ECB1;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 12pt;
    height: 30px;
    line-height: 24pt;
    margin: 15px auto;
    padding: 0 15px;
    text-align: center;
}

button:hover{
  background-color: #188E57;
}

