body {
  background-color: #29A15D;
  -webkit-font-smoothing: antialiased;
}

ol, ul {
  list-style: none;
}

/* HEADING */

.logo {
    padding-top: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 1.5em;
}

/* LIST */

.main {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 360px;
    background-color: white;
    border-radius: 1.25em;
    height: 100%;
    font-size: 1.00em;
    margin-top: 1.00em;
    text-align: center;
}

#add-items {
    background-color: #84ECB1;
    border: none;
    border-radius: 0.938em;
    color: white;
    display: inline-block;
    font-size: 1.00em;
    height: 2em;
    line-height: 2.00em;
    margin: 0.938em auto;
    padding: 0 0.938em;
    text-align: center;
    width: 50%;
}

input {
    -webkit-text-fill-color: white;
}

.list {
    font-family: 'Reenie Beanie', cursive;
    font-size: 2.333em;
    text-align: center;
    cursor: pointer;
}

.list img {
    padding-right: 0.938em
}

.resolved {
    text-decoration:line-through;
    color:#9CA9AD;
}

.checked {
    margin-top: 0em;
    margin-right: 0em;
    height: 1.250em;
    width: 1.250em;
    background: url('img/checked-box.png') 0 0;
    background-position: center center;
    background-repeat: no-repeat;
}

.unchecked {
    margin-top: 0em;
    margin-right: 0em;
    height: 1.250em;
    width: 1.250em;
    background: url('img/unchecked-box.png') 0 0;
    background-position: center center;
    background-repeat: no-repeat;
}

.delete {
    float: right;
    margin-top: 0.200em;
}

/* FOOTER */

h2 {
    font-family: 'Oxygen', sans-serif;
    color:#29A15D;
    font-size: 0.750em;
}

button {
    background-color: #84ECB1;
    border: none;
    border-radius: 0.938em;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.00em;
    height: 2em;
    line-height: 2.00em;
    margin: 0.938em auto;
    padding: 0 0.938em;
    text-align: center;
}

button:hover{
  background-color: #188E57;
}

