body {
  background-color: #29A15D;
  -webkit-font-smoothing: antialiased;
}

ol, ul {
  list-style: none;
}

.logo {
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}

.delete {
    float: right;
    margin-top: 3px;
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 360px;
    background-color: white;
    border-radius: 20px;
    height: 100%;
    font-size: 24px;
    margin-top: 1em;
    text-align: center;
}

/* h1 {
    font-family: 'Reenie Beanie', cursive;
    color:#29A15D;
    font-size: 70px;
} */

h2 {
    font-family: 'Oxygen', sans-serif;
    color:#29A15D;
    font-size: 12px;
}

/*.box {
    float: left;
    margin-top: 3px;
    margin-right: 30px;
    height: 17px;
    width: 17px;
    background: url('img/box_Sprite.png') 0 0;

}

.Checked {
    height: 18px;
    background: url('img/box_Sprite.png') 17px 0;
}*/

.list {
    font-family: 'Reenie Beanie', cursive;
    font-size: 35px;
    text-align: center;
    cursor: pointer;
}

.list img {
    padding-right: 15px
}

.resolved {
    text-decoration:line-through;
    color:#9CA9AD;
}

button {
    background-color: #84ECB1;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 12pt;
    height: 30px;
    line-height: 24pt;
    margin: 15px auto;
    padding: 0 15px;
    text-align: center;
}

button:hover{
  background-color: #188E57;
}

#add-items {
    background-color: #84ECB1;
    border: none;
    border-radius: 15px;
    color: white;
    display: inline-block;
    font-size: 12pt;
    height: 30px;
    line-height: 24pt;
    margin: 15px auto;
    padding: 0 15px;
    text-align: center;
    width: 50%;
}