body {
  background-color: #29A15D;
  -webkit-font-smoothing: antialiased;
}

ol, ul {
  list-style: none;
}

/* HEADING */

.logo {
    padding-top: 0.50em;
    padding-right: 1.50em;
    padding-bottom: 0.50em;
    padding-left: 1.50em;
}

/* LIST */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 360px;
    background-color: white;
    border-radius: 1.25em;
    margin-top: 1.00em;
    text-align: center;
}

#add-items {
    background-color: #84ECB1;
    border: none;
    border-radius: 0.938em;
    color: white;
    display: inline-block;
    font-size: 1.00em;
    height: 2.00em;
    line-height: 2.00em;
    margin: 0.938em auto;
    padding: 0 0.938em;
    text-align: center;
    width: 70%;
}

input {
    -webkit-text-fill-color: white;
}

.input {
    font-family: 'Reenie Beanie', cursive;
}

.input span {
    cursor: pointer;
    font-size: 2.333em;
}

.box {
    float: left;
    margin-top: 0.188em;
    margin-right: 1.875em;
    height: 1.063em;
    width: 1.063em;
    background: url('img/box-to-check.png') 0 0;
    cursor: pointer;

}

.checked {
    height: 18px;
    float: left;
    margin-right: 1.875em;
    cursor: pointer;
    background: url('img/box-to-check.png') 1.063em 0;
}

.strike {
    text-decoration: line-through;
    color:#9CA9AD;
}

.delete {
    float: right;
    margin-top: 0.200em;
    padding-right: 1.875em;
    cursor: pointer;
}


/* FOOTER */

h2 {
    font-family: 'Oxygen', sans-serif;
    color:#29A15D;
    font-size: 0.750em;
}

button {
    background-color: #84ECB1;
    border: none;
    border-radius: 0.938em;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.00em;
    height: 2em;
    line-height: 2.00em;
    margin: 0.938em auto;
    padding: 0 0.938em;
    text-align: center;
}

button:hover{
  background-color: #188E57;
}
